*{
    padding: 0;
    margin: 0;
}
body{
    background: #fff;
}

input, textarea {
    outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:1px solid rgba(0,0,0, 0.2);
}

input, textarea, select, .uneditable-input {
    display: inline-block;
    width: 210px;
    height: 18px;
    padding: 4px;
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 18px;
    border-radius: 3px;
}

input:focus,textarea:focus{
    box-shadow: 0 0 5px rgba(82, 168, 236, 0.6);
    -webkit-box-shadow: 0 0 5px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: 0 0 5px rgba(82, 168, 236, 0.6);
    border:1px solid rgba(82, 168, 236, 0.8);
}

.ng-invalid:focus{
    box-shadow: 0 0 5px #f00;
    -webkit-box-shadow: 0 0 5px #f00;
    -moz-box-shadow: 0 0 5px #f00;
    border:1px solid #f00;
}

form .error{
    color: #f00;
}

input.ng-valid.ng-dirty:focus,textarea.ng-valid.ng-dirty:focus{
    background: #78fa89;
}

#myTemplate{
    float: left;
    width: 100%;
}
.fullbox{
    width: 100%;
}

.fullbox .title{
    text-align: center;
    line-height: 26px;
    font-size: 20px;
    width: 100%;
    float: left;
}
.volunteers{
    width: 100%;
}
.volunteers table{
    width: 100%;
}
.volunteers table tbody tr td{
    background: #ffcccc;
}
.volunteers table tbody tr:nth-child(odd) td{
    background: #ccffcc;
}
.volunteer-edit .title{
    text-align: center;
    line-height: 26px;
    font-size: 20px;
    width: 100%;
    float: left;
}
.volunteer-edit form{
    width: 100%;
    float: left;
}

.volunteer-edit form table{
    margin: 20px 0 0 20px;
    float: left;
    clear: both;
}

.volunteer-edit form button{
    float: left;
    clear: both;
    margin-left: 20px;
}